{$startform}

<div class="pageoverflow">
  <p class="pagetext"><label for="newname">{$newnametext}:</label></p>
  <p class="pageinput"><input id="newname" type="text" name="{$actionid}newname" value="{$newname}" size="40"/></p>
</div>

<div class="pageoverflow">
  <p class="pagetext"></p>
  <p class="pageinput">{$submit}{$cancel}</p>
</div>

{$endform}