h1 {
    text-align: center;
}

p.description {
    text-align: center;
    color: blue;
}

table {
    empty-cells: hide;
}
tr.header th {
    color: #000;
    background-color: #e3e3e3;
}
tr.footer td {
    color: #000;
    background-color: #e3e3e3;
}